@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'work sans', sans-serif;
    background-color:  #F2F2F2;
}

/* this could be changed */
.box {
    position: absolute;
    width: 50%;
    background: white;
}

h1 {
    background-color: #0F4C75;
    color: white;
    padding: 15px 0;
    text-transform: uppercase ;
    font-size: 50px;
    text-align: center;
}

.main-screen {
    height: 50%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.label {
    font-size: 200%;
    text-align: center;
    position: absolute;
}

/* Main screens of the game */

.game-screen {
    background-color: white;
    height: 200px;
}

.score {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'work sans', sans-serif;
}

.player-screen {
    color: white;
    background-color: blue;
    left: 2%;
}

.computer-screen {
    color: white;
    background-color: #FE1E15;
    right: 2%;
}

.image div {
    width: 50%;
    min-height: 80px;
    text-align: center;
}

.image div img {
    max-width: 70%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 20px 0;
    background-color: #0F4C75;
    color: white;
}

.buttons {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #BBE1FA;
}

.buttons img {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 50%;

}

.buttons img:hover {
    transform: scale(1.6);
}

.btn {
    background-color: #BBE1FA;
    border: none;
}

#winner {
    background-color: blue;
}

#loser {
    background-color: #FE1E15;
}

.play-again p{
    color: #F2F2F2;
    font-size: 30px;
    text-transform: uppercase;
}

.play-again button {
    width: 100px;
    border: none;
    font-size: 20px;
    font-family: 'work sans', sans-serif;
    text-transform: uppercase
}

.newWindow {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front-screen {
    display: none;
}

    
@media (max-width:570px) {

    .game-screen {
        background-color: white;
        height: 100px;
    }
    
    h1 {
        font-size: 30px;
    }

    .label {
        font-size: 20px;
    }
}